.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
  color: var(--text-color);
  background-color: var(--backdround-footer);
}
