:root {
  --font-size: 16px;
  --text-color: #ffffff;
  --text-color-light: #b0bec5;
  --primary-color: #007bff;
  --secondary-color: #ff5722;
  --background-color: #282c34;
  --backdround-footer: #1c1f24;
  --disabled-color: #717a83;
  --alert-color: #f44336;
}

body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
}

img {
  border-style: none;
}

@font-face {
  font-family: 'Monoton';
  src: url('./assets/fonts/Monoton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
